body{
    background-image:url('img/slide.png');
}
.header-btn{
    margin-top:10px;
    width:100%;
    margin-bottom:4%;
}
.main-btn{
    width:100%;
    margin-top:5%;
    margin-bottom: 5%;
}
img.portrait{
    width: 250px;
    height:250px;
    margin-top:50px;
    opacity:0.9;
}
#footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
}
.main-text{
    color:white;
}
.glyphicon {
    font-size:25px;
    margin:15px;
}

.cont{
    width:40%;
    min-width:275px;
    background-color:darkgray;
    border-radius:10px;
    opacity:0.9;
    margin-bottom:10px;
}
