body{
    background-image:url('img/slide.png');
}
button{
    min-width:75px;
    max-width:75px;
    margin-top:10px;

}
img{
    width: 250px;
    height:250px;
    margin-top:50px;

}
#footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
}
#text{
    color:white;
}
#login{
    color:white;
    text-decoration:none;
}
.glyphicon {
    font-size:25px;
    margin:15px;
}

#one{
    max-width: 300px;
    min-height:400px;
    background-color:darkgray;

    border-radius:10px;
}
